db/
incremental_db/
output_files/
simulation/
greybox_tmp/
build_id.v
*.qws
*.rpt
*.summary
*.done
*.jdi
*.pin
*.sof
*.rbf
test/*.vvp
test/*.vcd
roms/*.rom
roms/*.bin
test/build_user_io_ps2.v
test/build_vsync/
test/build_vsync_w/
